<h1>Cocktails</h1>

<ul style="list-style: none">
<% @cocktails.each do |cocktail| %>
<li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
<% end %>
</ul>


<div class="container">
  <div class="row">
    <div class="card"
      style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
             url('<%= cl_image_path cocktail.photo.path, height: 300, width: 400, crop: :fill %>')">
      <div class="card-category">Popular</div>
      <div class="card-description">
        <h2>Some stuff</h2>
        <p>Very cool stuff, useful and smart</p>
      </div>
      <a class="card-link" href="#" ></a>
    </div>
  </div>
</div>



<div class="container">
      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-background.jpeg');">
        <div class="card-category">Lisbon</div>
        <div class="card-description">
          <h2>Paillard's home</h2>
          <p>Charming room with patio</p>
        </div>
        <img class="card-user avatar avatar-large" src="images/papillard.jpeg">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
